<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-op2-intaccounts-int-v4.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2fdd4c59-d1bd-4ce3-9f55-12e899716fe3/resourcegroups/AppServicesRG/providers/Microsoft.Web/sites/func-op2-intaccounts-int-v4</ResourceId>
    <UserName>$func-op2-intaccounts-int-v4</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://func-op2-intaccounts-int-v4.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>